.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    /* border-left: 1px solid #ddd; */
  }

  .grid-title {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 30px;
    color: #333;
    font-weight: 500;
  }

  .grid-template {
    display: grid;
    min-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-bottom: 1.5rem;

  }

  .card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    max-height: 400px;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .content {
    padding: 15px;
  }

  .grid-blog-title {
    font-size: 1.25rem;
    color: #333;
    margin: 0 0 10px;
  }

  .blog-content-grid {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Number of lines to show */
  }

  .grid-loader{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: #fff;
  }