@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #097bed;
  --heading-color: #201654;
  --paragraph-color: #565872;
  --search-bg-color: #086ed5;
  --heading-font: "Rubik", sans-serif;
  --body-font: "Rubik", sans-serif;
  --body-font-size: 16px;
  --line-height30: 1.7;
  --text-color:#000;
  --button-text-color:#fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Manrope", sans-serif;
}

